<div class="container">
  <h1 class="page-title"><%- title %></h1>

  <%- include('../partials/messages.ejs') %>

  <form id="editCreateEdit" class="form" action="<%- action -%>" method="POST">
    <div class="pb-1">
      <label for="name" class="text-primary">Name</label>
      <input name="name" type="text" value="<%- locals.user ? user.name : '' -%>" placeholder="Name">
    </div>

    <div class="pb-1">
      <label for="username" class="text-primary">Username</label>
      <input id="username" name="username" type="text" value="<%- locals.user ? user.username : '' -%>" placeholder="Username">
    </div>
    
    <div class="pb-1">
      <label for="role" class="text-primary">Rolle</label>
      <select class="p-1" name="role">
        <option value="User" <%- locals.user && user.role === 'User' ? 'selected' : '' -%>>User</option>
        <option value="Admin" <%- locals.user && user.role === 'Admin' ? 'selected' : '' -%>>Admin</option>
      </select>
    </div>

    <% if( locals.user && locals.user.lists.length > 0) { %>
      <p class="secondary">Ist Mitglied folgender Listen:</p>
      <ul class="secondary p-1">
        <% for(const list of locals.user.lists) { %>
          <li><%- list.name -%></li>
        <% } %>
      </ul>
    <% } %>

    <% if(locals.activationCode) { %>
      <p class="pb-1">/user/init/<%- activationCode -%></p>
    <% } %>


    <div class="flex flex-between">
      <button type="submit" class="primary">Speichern</button>
      <% if(locals.user) {%>
        <a href="#" onclick="deleter.deleteUser()"><i class="fa fa-trash"></i> Löschen</button>
      <% } %>
    </div>
  </form>
</div>

<script src="/public/js/sendFetch.js" defer></script>
<script src="/public/js/messageHandler.js" defer></script>
<script>
  const deleter = (function() {
    var deleteUser = function(ev) {
      if(confirm("Bist du sicher?")) {
        let url = window.location.href;
        try {
          sendFetch(url, {}, 'DELETE').then( (res) => {
            if(res.success) {
              window.location.href = "/admin/users";
            }
            if(res.error) MessageHandler.toggleErrorBox(res.error);
          });
        } catch(error) {
          MessageHandler.toggleErrorBox("Es ist ein unerwarteter Fehler aufgetreten, " + error.statusCode);
          console.log(error)
        }
      }
    }

    return {
      deleteUser: deleteUser,
    }
  })();
</script>