<div class="container">
  <h1 class="page-title">Alle Users</h1>
  <div class="mb-2"><a href="/admin/user/create">Neuen Benutzer anlegen</a></div>
  <input type="text" name="userName" class="nameTask mb-2" placeholder="Nach User suchen">

  <%- include('../partials/messages.ejs' ) -%>
  <div id="userList">
    <% for(let user = 0; user < users.length; user++) { %>
      <div class="card mb-1 user-card" data-name="<%- users[user].username -%>">
        <h3><a href="/admin/user/<%- users[user]._id -%>/edit" class="no-style"><%- users[user].username -%></a></h3>
      </div>
    <% } %>
  </div>
</div>

<script src="/public/js/sendFetch.js"></script>
<script>
  var userSearcher = (function() {
    const input = document.querySelector('input[name="userName"]');
    const userListContainer = document.getElementById('userList');
    const userList = [...userListContainer.children];

    input.addEventListener('input', () => {
        const searchTerm = input.value.toLowerCase().trim();

        userList.forEach(userEl => {
            const userName = userEl.dataset.name.toLowerCase();
            if (userName.includes(searchTerm)) {
                userListContainer.appendChild(userEl); // Removes the old child if already existing
            } else {
              if(userEl.parentElement === userListContainer) {
                userListContainer.removeChild(userEl);
              }
            }
        });
    });
  })();
</script>