<% if(locals.loggedInUser && loggedInUser.role === 'Admin') { %>
  <div class="bg-primary text-white">
    <div class="container p-0">
      <div class="flex vertical-center">
        <h3>Admin</h3>
        <span class="m-1">|</span>
        <a href="/admin/users" class="text-white no-style">Users</a>
      </div>
    </div>
  </div>
<% } %>

<% if(locals.loggedInUser) { %>
<div class="bg-alternative">
  <div class="container p-0 py-1 text-white flex flex-between vertical-center">
    <div class="left">
      <h2><a href="/" class="no-style"><i class="fa fa-home"></i></a></h2>
    </div>
    <div class="right">
      <h3><a href="/logout" class="no-style" title="ausloggen"><i class="fa fa-sign-out"></i></a></h3>
    </div>
  </div>
</div>
<% } %>