<div class="messages mb-1 <%- locals.message ? locals.message.level + '-box' : '' %> ">
  <% if(locals.message && typeof locals.message.text === 'object') { %>
    <% for(const [key, val] of Object.entries(locals.message.text)) { %>
      <ul class="text-white">
        <li><%- val  -%></li>
      </ul>
    <% } %>
  <% } else { %>
    <%- locals.message ? locals.message.text : '' %>
  <% } %>
</div>