<div class="task-card" data-id="<%= task._id %>">
  <input type="hidden" value="<%= task._id %>" id="task-id"> 
  <p class="task-card-title"><input type="checkbox" class="task-checkbox" <%= task.status === 'closed' ? 'checked' : '' %> ><span id="task-title"><%= task.title %></span></p>
  <small class="text-center">
    Zugewiesen an:
    <select id="task-assigner">
      <option value="null"> Alle</option>
      <% for(let j = 0; j < users.length; j++) { %>
        <option value="<%= users[j]._id %>" <%= users[j]._id === task.assigned_to._id ? 'selected' : '' %> > <%= users[j].name %></option>
      <% } %>
    </select>
  </small>
  <p class="text-right"><i class="fa fa-calendar"></i> <span id="task-due-date"><%= task.due_date ? task.due_date : 'Unbegrenzt' %></span></p>
</div>