<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/public/css/style.css">
  <link rel="stylesheet" href="/public/css/font-awesome.min.css">
  <link rel="shortcut icon" href="#">
  <script type="text/javascript" src="/public/js/script.js" defer></script>
  <title>Todo-App</title>
  
</head>
  <body>
    <%- include('partials/header') %>
    <%- body %>
  </body>
</html>