<div class="container">
  <h1 class="page-title">Wilkommen, <%- currentUser.name %></h1>
  <h2 class="pb-1">Deine Listen</h2>

  <%- include('./partials/messages.ejs' ) -%>

  <div class="lists flex">
    <% for(var i = 0; i<lists.length; i++) { %>
      <a href="/list/<%= lists[i]._id %>/tasks" class="no-style box">
          <div class="box-top">
            <h3><%= lists[i].name%></h3>
          </div>
          <div class="box-bottom">
            <div class="progress-bar-box">
              <div class="progress-bar" style="width: <%= lists[i].closedPercentage %>%"></div>
            </div>
            <div class="progress-bar-text">
              <small>Erledigt: <%= lists[i].closedTasks %></small>
              <small>Gesamt: <%= lists[i].tasks.length %></small>
            </div>
          </div>
      </a>
    <% } %>

    <div class="box flex center" onclick="createListModalHandler.openModal()">
      <div class="circle-border">
        <h2 class="secondary">+</h2>
      </div>
    </div>
  </div>

  <dialog class="modal create-list-modal">
    <form id="create-list-form" method="POST" action="/lists/create">
      <h2>Liste anlegen</h2>
      <div class="form-item">
        <label for="list_name">Name der Liste </label>
        <input type="text" name="list_name">
      </div>
      <button formmethod="dialog" class="secondary">Abbrechen</button>
      <button type="submit" class="primary">Liste erstellen</button>
    </form>
  </dialog> 
</div>

<script>
  var createListModalHandler = (function() {
    let modal = document.querySelector(".create-list-modal");
    let modalOpener = document.querySelector("#list-creator-opener");

    var openModal = function() {
      modal.showModal();
    }

    return {
      openModal: openModal,
    }
  })();
</script>