<div class="container" id="loginPage">
  <div class="box">
    <h1 class="page-title"><i class="fa fa-lock"></i> Login</h1>
    <form id="login-form" method="POST" action="/login">

      <% if(locals.error) { %>
        <div class="errors show">
          <%- error %>
        </div>
      <% } %>

      <%- include('partials/messages.ejs') -%>

      <div class="form-item">
        <label for="assigned_to">Benutzername: </label>
        <input type="text" value="" name="username" id="username">
      </div>
    
      <div class="form-item">
        <label for="due_date">Passwort: </label>
        <input type="password" value="" name="password" id="password">
      </div>
  
      <div class="flex flex-right">
        <button class="primary" id="submit-form"><i class="fa fa-unlock"></i> Login</button>
      </div>
    </form>
  </div>
</div>