<div class="container">
  <div class="flex flex-between">
    <h1 class="page-title"><a href="/lists" class="text-primary"><i class="fa fa-arrow-left"></i></a> <%- list.name -%></h1>
    <span id="list-options"><h1 class="text-primary" onclick="ListMenuHandler.toggleListMenu(event)"><i class="fa fa-gear"></i></h1>
      <div class="list-options-menu hidden">
        <ul>
          <% if(currentUser._id.toString() === list.owner.toString()) { %>
            <li id="invite-user-modal-toggler" onclick="userInviteModalHandler.openModal()">Nutzer einladen</li>
            <li id="delete-list" data-list="<%- list._id %>">Liste löschen</li>
          <% } else { %>
            <li id="leave-list" data-list="<%- list._id %>"> Liste verlassen </li>
          <% } %>
          <li id="show-list-members-list">Mitglieder</li>
        </ul>
      </div>
    </span>
  </div>

  <%- include('./partials/messages.ejs' ) -%>

  <div class="taskInput">
    <input type="text" name="todoName" class="nameTask" placeholder="Todo erstellen">
    <button class="todoSubmitBtn">+</button>
  </div>

  <div class="py-1 flex flex-right text-primary">
    <a href="./tasks"><i class="fa fa-refresh" id="page-refresh"></i></a>
  </div>

  <div class="tasks">
  </div>

  <template id="task-template">
    <div class="task-card" data-id="">
      <p class="task-card-title"><input type="hidden" value="" id="task-id"> <input type="checkbox" class="task-checkbox" id="task-status" onchange="TaskMaker.taskStatusToggler(this)"><span id="task-title"></span></p>
      <small class="text-center task-card-center">
        Zugewiesen an:
        <select id="task-assigner" onchange="TaskMaker.assignTaskToUser(this)">
          <option value="null"> Alle</option>
            <% for(let j = 0; j < users.length; j++) { %>
              <option value="<%= users[j]._id %>"> <%= users[j].name %></option>
            <% } %>        
        </select>
      </small>
      <div class="flex task-card-controls-right">
        <p class="text-right">
          <input type="date" value="" name="due_date" id="task-due-date" onchange="TaskMaker.assignDueDate(this)">
        </p>
        <button class="delete-task text-right"><i class="fa fa-trash"></i></button>
      </div>
      <!-- For mobile view -->
      <div class="task-card-info-mobile">
        <small>
        <p>Zugewiesen an: <span id="task-assigned-to-mobile"></span></p>
        <p>Bis spätestens: <span id="task-due-date-mobile"></span></p>
        </small>
      </div>
      <div class="task-card-options-mobile" onclick="TaskModalHandler.openModal(this)">
        <i class="fa fa-ellipsis-v"></i>
      </div>
    </div>
  </template>
</div>

<%- include('./partials/modals/modal.ejs') %>
<%- include('./partials/modals/userInviteModalContent.ejs', {list: list}) %>
<%- include('./partials/modals/editTaskModalContent.ejs', {tasks: tasks}) %>
<%- include('./partials/modals/listMembersModalContent.ejs', {members: users}) %>

<script src="/public/js/modals/userInviteModalHandler.js" defer></script>
<script src="/public/js/modals/listMembersModalHandler.js" type="module" defer></script> 
<script src="/public/js/modals/taskModalHandler.js" defer></script><!--Detached from modal handler-->
<script>
  async function sendFetch(url, body, method ) {
    let resp = await fetch(url, {
      headers:  {'Content-Type': 'application/json', 'Accept': 'application/json'},
      method: method,
      body: JSON.stringify(body),
    });
    console.log(resp);
    let val = await resp.json();
    return val;
  }

  var MessageHandler = (function () {
    var toggleErrorBox = function (error) {
      let messageBox = document.querySelector('.messages');
      messageBox.innerHTML = "";

      if(error) {
        if(typeof error === 'object') {
          let ul = document.createElement('ul');
          for(const [key, val] of Object.entries(error)) {
            let li = document.createElement('li');
            li.innerHTML = `${key}: ${error[key].message}`;
            ul.appendChild(li);
          }
          messageBox.appendChild(ul);
        } else {
          messageBox.innerHTML = error;
        }
        messageBox.classList.add('error-box')
      } else {
        if(messageBox) messageBox.classList.remove('error-box');
      }
    }

    return {toggleErrorBox: toggleErrorBox}
  })();

  var ListMenuHandler = (function () {
    let listOptions = document.querySelector('.list-options-menu');

    document.addEventListener("click", (ev) => {
      closeMenu()
    })

    var addListOptionActions = () => {
      let deleteListBtn = listOptions.querySelector("#delete-list");
      let leaveListBtn = listOptions.querySelector('#leave-list');
      let showMembersBtn = listOptions.querySelector('#show-members-list');
      if(deleteListBtn) {
        deleteListBtn.addEventListener('click', (ev) => {
          let listId = ev.target.dataset.list;
          let url = window.location.origin + "/list/" + listId + "/delete";
          listAction(listId, url, 'DELETE')
        });
      }

      if(leaveListBtn) {
        leaveListBtn.addEventListener('click', (ev) => {
          let listId = ev.target.dataset.list;
          let url = window.location.origin + "/list/" + listId + "/leave";
          listAction(listId, url, 'PUT')
        });
      }

      if(showMembersBtn) showMembersBtn.addEventListener('click', (ev) => {

      })
    }

    var toggleListMenu = function(e) {
      let hidden = listOptions.classList.contains('hidden');
      e.stopPropagation();
      if(hidden) {
        listOptions.classList.remove('hidden');
        return
      }

      listOptions.classList.add('hidden');
    }

    var closeMenu = function () {
      if(!listOptions.classList.contains('hidden')) listOptions.classList.add('hidden');
    }

    var listAction = async function(listId, url, action) {
      if(confirm("Bist du sicher?")) {
        try {
          sendFetch(url, {}, action).then( (res) => {
            if(res.success) {
              window.location.href = "/lists";
            }
            if(res.error) MessageHandler.toggleErrorBox(res.error);
          });
        } catch(error) {
          MessageHandler.toggleErrorBox("Es ist ein unerwarteter Fehler aufgetreten, " + error.statusCode);
          console.log(error)
        }
      }
    }

    addListOptionActions();

    return {
      toggleListMenu: toggleListMenu,
    }
  })();

  var TaskMaker = (function(){
    let taskInput = document.querySelector('.nameTask');
    let taskBtn = document.querySelector('.todoSubmitBtn');
    let tasks = <%- JSON.stringify(tasks) %>;
    let list = document.querySelector('.tasks');
    
    // apply event listeners
    taskBtn.onclick = function(e) {
      let val = taskInput.value;
      submitTask(val);
    }

    taskInput.onkeydown = function(e) {
      if(e.key === 'Enter') {
        let val = taskInput.value;
        submitTask(val);
      }
    }

    // Auto update task list every 30 Seconds
    setInterval(() => {
      getTasks();
    }, 1000 * 30);

    var getTasks = function() {
      sendFetch(window.location.href + "/update").then( (res) => {
        if(res.success) {
          tasks = res.tasks;
          renderTasks();
        }
        if(res.error) MessageHandler.toggleErrorBox(res.error);
      }).catch((error) => {
        MessageHandler.toggleErrorBox("Es ist ein Fehler aufgetreten, konnteTasklist nicht aktualisieren: " + error);
        console.log("error", error);
      }); 
    }

    // Create Task
    var submitTask = function(val) {
      MessageHandler.toggleErrorBox(null);
      sendFetch(window.location.href + "/create", {title: val}, 'POST').then( (res) => {
        if(res.success) {
          tasks = res.tasks;
          renderTasks();
          taskInput.value = "";
        }
        if(res.error) MessageHandler.toggleErrorBox(res.error);
      }).catch((error) => {
        MessageHandler.toggleErrorBox("Es ist ein Fehler aufgetreten: " + error);
        console.log("error", error);
      }); 
    }

    // Update task
    var submitTaskUpdate = function(taskId, values) {
      MessageHandler.toggleErrorBox(null);

      let url = window.location.href + "/" + taskId + "/update";
      try {
        return sendFetch(url, values, 'PUT').then( async (res) => {
          if(res.success) {
            let element = document.querySelector("input[value='"+ res.task._id +"']").closest('.task-card');
            setTaskCardContent(element, res.task);
            updateLocalTasks(res.task);
            return res;
          }
          if(res.error) MessageHandler.toggleErrorBox(res.error);
          
        });
      } catch(error) {
        MessageHandler.toggleErrorBox("Es ist ein unerwarteter Fehler aufgetreten, " + error.statusCode);
        console.log(error, errorBox);
      }
    }

    var updateLocalTasks = function(updatedTask) {
      for(let status = 0; status < tasks.length; status++) {
        for(let task = 0; task < tasks[status].all.length; task++) {
          if(tasks[status].all[task]._id === updatedTask._id) {
            tasks[status].all[task] = updatedTask;
            return;
          }
        }
      }
    }

    var setTaskCardContent = function(element, task, ) {
      let taskOpen = task.status === 'open' ? true : false
      let members = element.querySelector('#task-assigner').options;
      let assignedMember = null;
      let taskDueDate = task.due_date ? new Date(task.due_date) : null;
      let dueDaysRef = {1: 'warning', 0: 'error'}
      element.className = "task-card";
      element.dataset.id = task._id;


      //find user assigned to task
      for(let i = 0; i<members.length; i++) {
        if((task.assigned_to.length > 0 ) && (members[i].value === task.assigned_to[0]._id)) {
          assignedMember = members[i].value;
        }
      }

      if(!taskOpen) { element.classList.add("closed"); } else { element.classList.remove('closed'); }
      let dueDaysLeft = taskDueDate ? Math.ceil( (taskDueDate - new Date()) / (1000 * 3600 * 24)) : null;
      if(dueDaysLeft != null && dueDaysLeft <= 1 && dueDaysLeft > -1) {element.classList.add('bg-warning')};
      if(dueDaysLeft != null && dueDaysLeft < 0) element.classList.add('bg-error');
      element.querySelector('#task-id').value = task._id;
      element.querySelector('#task-status').checked = !taskOpen;
      element.querySelector('#task-title').innerHTML = task.title;
      element.querySelector('#task-assigner').value = assignedMember;
      element.querySelector('#task-due-date').valueAsDate = taskDueDate;
      //element.querySelector('.delete-task').addEventListener('click', () => { deleteTask(task._id) });

      // queries for mobile view
      element.querySelector('#task-due-date-mobile').innerHTML  = taskDueDate ? taskDueDate.toDateString() : "Kein Zeitlimit";
      element.querySelector('#task-assigned-to-mobile').innerHTML = task.assigned_to.length > 0 ? task.assigned_to[0].name : 'Alle';
      return element;
    }

    var addTaskToDom = function(task) {
      let template = document.querySelector("#task-template");
      let clone = template.content.cloneNode(true);
      clone.querySelector('.delete-task').addEventListener('click', () => { deleteTask(task._id) });
      setTaskCardContent(clone.querySelector('.task-card'), task)
      // queries for mobile modal
      list.append(clone);
    }

    var taskStatusToggler = function(element) {
      let parentEl = element.closest(".task-card");
      let taskId = parentEl.querySelector("#task-id").value;
      let status = element.checked ? 'closed' : 'open';
      submitTaskUpdate(taskId, {status: status});
    }

    var deleteTask = function(id) {
      MessageHandler.toggleErrorBox(null);
      if(confirm("Task wirklich entfernen?")) {
        let taskCard = document.querySelector('[data-id="' + id + '"]');
        let taskId = id;
        let url = window.location.href + "/" + taskId + "/delete";

        try {
          sendFetch(url, {}, 'DELETE').then( (res) => {
            if(res.success) {
              list.removeChild(taskCard);
              tasks = tasks.filter(function(el) { return el._id != taskId; });
            }
            if(res.error) MessageHandler.toggleErrorBox(res.error);
          })
        } catch(err) {
          MessageHandler.toggleErrorBox("Severfehler, 500");
        }

        // remove task from dom
        return true;
      }

      return false;
    }

    var assignTaskToUser = function(el) {
      let task = el.closest('.task-card');
      let taskId = task.querySelector('#task-id').value;
      let userId = el.value;

      submitTaskUpdate(taskId, {assigned_to: userId})
    }

    var assignDueDate = function(el) {
      let task = el.closest('.task-card');
      let date_input = el.querySelector('input[name="due_date"]');
      let taskId = task.querySelector('#task-id').value;

      submitTaskUpdate(taskId, {due_date: el.value ? el.value : 'null'});
    }

    var renderTasks = function() {
      list.innerHTML = "";
      
      //Tasks are grouped
      for(let i = 0; i < tasks.length; i++) {
        for(let j = 0; j < tasks[i].all.length; j++) {
          addTaskToDom(tasks[i].all[j])
        }
      }
    }

    var findTask = function(taskId) {
      for(let i = 0; i<tasks.length; i++) {
        for(let j = 0; j < tasks[i].all.length; j++) {
          if(tasks[i].all[j]._id === taskId) return tasks[i].all[j];
        }
      }
    }

    renderTasks();

    return {
      taskStatusToggler: taskStatusToggler,
      deleteTask: deleteTask,
      assignTaskToUser: assignTaskToUser,
      assignDueDate: assignDueDate,
      findTask: findTask,
      submitTaskUpdate, submitTaskUpdate,
    }
  }) ();

  /*document.addEventListener("DOMContentLoaded", (event) => {
    //TaskCreator.init();
  });*/
</script>