/*
    black: #212121 || #0c0c0c
    darkblue: #00447c || #002756
    blue-green-light: #0b7b9e || #035b7a 
    light-bright-beige?: #dddace || #c6c3b6
    grey?: #f2f3f4 || #eaeaea
    error: #cb7373 || #d32f2f
    warning: #ffd863 || #ffc107
  */

  * { margin: 0px; padding: 0px; font-family: 'Arial', 'sans-serif';}
  body { color: #212121; background: #f2f3f4;}
  .page-title { font-size: 2.3em; margin-bottom: .8em}
  small { font-size: .7em; color: #c6c3b6}
  .container {width: 80%; margin: 0 auto; min-width: 350px; position: relative; padding-top: 2em}
  .flex {display: flex; flex-wrap: wrap;}
  .flex-right {justify-content: right;}
  .flex-between {justify-content: space-between}
  .vertical-center {align-items: center;}
  .flex.center {align-items: center; justify-content: center;}
  .secondary {color: #c6c3b6}
  .circle-border { padding: 2em 2.3em; border: 3px solid #c6c3b6; border-radius: 100%;}
  .text-primary {color: #00447c}
  .text-white { color: #f2f3f4}
  .hidden { display: none}
  a {color: #00447c}

  /* padding */
  .p-1 {padding: 1em;}
  .p-2 {padding: 2em;}
  .p-3 {padding: 3em;}

  .p-0 {padding: 0em;}

  .pb-1 {padding-bottom: 1em}
  .pb-2 {padding-bottom: 2em}
  .pb-3 {padding-bottom: 3em}

  .py-1 {padding-top: 1em; padding-bottom: 1em}
  .py-2 {padding-top: 2em; padding-bottom: 2em}
  .py-3 {padding-top: 3em; padding-bottom: 3em}


  /* margin */
  .m-1 {margin: 1em;}
  .m-2 {margin: 2em;}
  .m-3 {margin: 3em;}

  .mb-1 {margin-bottom: 1em;}
  .mb-2 {margin-bottom: 2em;}
  .mb-3 {margin-bottom: 3em;}

  .ml-1 {margin-left: 1em;}


  .normal {background: none; border: none; padding: 0; font-size: inherit; color: inherit;}
  .normal:hover {background: none;}

  button { background: #fff; padding: 1em; border: 1px solid #eaeaea; cursor: pointer}
  button:hover {background: #eaeaea};

  .lists { display: flex; }
  .box {box-sizing: border-box; background-color: #ffffff; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; border-radius: 1em; margin-bottom: 1em; text-align: center; margin-right: 1em; display: inline-flex; align-items: center; flex-direction: column; padding: 0 .8em; width: auto; box-sizing: border-box;}  
  .lists .box {width: 200px; height: 200px;}
  .box .box-top { height: 50%; display: flex; flex-direction: column-reverse; }
  .box .box-bottom {height: 45%; width: 100%; padding-top: 30px;}

  button.primary { background: #00447c; color: #fff; border:none;}
  button.error {background: #d32f2f; color: #fff; border:none;}
  button.warning {background: #ffc107; color: #fff; border:none;}

  .bg-warning {background: #fce39b !important;}
  .bg-alternative {background: #0b7b9e;}
  .bg-error {background: #d32f2f66 !important;}
  .bg-primary {background: #00447c;}

  .box-bottom .progress-bar-box {
    width: 100%;
    height: .3em;
    background: #eaeaea;
    position: relative;
  }
  
  .progress-bar-box .progress-bar {
    position:absolute;
    left: 0;
    top: 0;
    height: 110%;
    background: #0b7b9e;
  }

  .box-bottom .progress-bar-text {
    display: flex; 
    justify-content: space-between;
    padding-top: .3em;
  }

  .lists .box:hover {
    background: #0b7b9e;
    cursor: pointer;
    box-shadow: none;
  }

  #list-options {cursor: pointer; position: relative;}
  .list-options-menu {position: absolute; background: #00447c; color: #fff; top: 3em; right: 0px; width: 200px; z-index: 500;}
  .list-options-menu {list-style-type: none;}
  .list-options-menu ul li {padding: 2em; border-bottom: 1px solid #0b7b9e}
  .list-options-menu ul li:hover {background: #0b7b9e}

  .messages {
    padding: 1em;
    display: none;
  }
  
  .error-box {
    background:#cb7373;
    color: #fff;
    border: 1px solid #d32f2f;
    display: block;
  }

  .success-box {
    background: #82cb73;
    color: #fff;
    border: 1px solid #3dd32f;
    display: block;
  }

  .errors {
    margin-top: 1em; 
    background:#cb7373;
    border: 2px solid #d32f2f;
    padding: 1em;
    color: white;
    display: none;
  }

  #http-error {
    height: 100vh;
    font-size: 2em;
    text-transform: uppercase;
  }

  .show {
    display: block;
  }

  a.no-style { text-decoration: none; color: inherit}

  .taskInput {position:relative;}

  .taskInput button {
    position: absolute;
    right: 0;
    top: 0px;
    height: 100%;
    width: 3em;
    background: #00447c;
    border:none;
    color: #fff;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    font-size: 1.5em;
    padding: 0px;
  }

  .taskInput button:hover {
    cursor: pointer;
  }

  .nameTask {
    width: 100%;
    box-sizing: border-box;
    border-radius: 2em;
    font-size: 1.2em;
    padding: .8em;
    padding-right: 4em;
    background:#fff ;
    box-shadow: none;
    border: none;
  }

  .card { 
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
    padding: 2em;
  }

  .task-card {
    border-radius: 10px;
    padding: 2em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
    box-sizing: border-box;
    margin-bottom: 1em;
  }

  /*.task-card > :nth-child(1) {flex: 2;}
  .task-card > :nth-child(2) {flex: 1; text-align: center}
  .task-card > :nth-child(3) {flex: 1;}*/
  
  .text-right {text-align: right}
  .text-center { text-align: center}

  .task-card > * {flex: 1}

  .task-card-title { display: flex; align-items: center;}

  .closed { background:#f2f3f4 !important }
  .closed > .task-card-title {text-decoration: line-through;}

  .task-card .task-checkbox {
    background: #fff;
    min-width: 25px;
    min-height: 25px;
    margin-right: 20px;
  }

  .task-card #task-assigner, #task-assigner-modal {
    background: #fff;
    padding: .5em;
    border: 1px solid grey;
    width: 8em;
  }

  .task-card > .task-card-controls-right {
    justify-content: space-between;
    align-items: center;
  }

  .task-card > .task-card-center {
    display: block;
  }

  .task-card #task-due-date { border: none; }

  .task-card .delete-task {
    background: #f2f3f4;
    border: 1px solid #eaeaea;
    box-shadow: none;
    color: #c6c3b6;
    cursor: pointer;
    padding: .8em;
  }

  .task-card .delete-task:hover, .task-card .delete-task:active {
    background: #fff;
    color: #00447c;
  }

  .task-card-options-mobile, .task-card-info-mobile {
    display: none;
  }

  /* modal styles */ 
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 80%;
    background: #fff;
    padding: 3em;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    border-radius: 1em;
  }

  .modal .modal-header {
  }

  .modal .modal-body {
    padding-top: 1em;
  }

  .modal h2 { color: #00447c }

  #task-options-form #task-assigner-modal, #task-options-form #task-due-date-modal {
    margin: .3em auto;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 1em;
  }

  /* List members modal */
  #list-members {
    list-style-type: none;
    padding-bottom: 1em;
  }

  #list-members li {
    padding: 1.5em 0em;
    background: #fff;
    border-bottom: 1px solid #eaeaea;
    font-size: 1.3em;
  }

  /* User invite modal */ 
  

  /* Form styles */
  .form-item {
    margin-bottom: 1em;
    margin-top: 1em;
    width: 100%;
  }

  .form-item label {
    color: #c6c3b6;
  }

  form input, form label, form select {width: 100%; margin-top: .3em;}
  form input, .input {width: 100%; padding: .5em .2em; font-size: 1.5em; box-sizing: border-box}

  /* Login Page */
  .container#loginPage {
    padding-top: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
  }

  #loginPage .box {
    padding: 3em;
    text-align: left;
  }

  @media screen and (max-width: 650px){
    .lists .box {margin-right: 10px;}
    .task-card > .task-card-title { flex: 3; padding-right: 1em}
    .task-card-options-mobile { display: inline; text-align: right; color: #00447c;}
    .task-card-options-mobile > i{ border: 1px solid #eaeaea; padding: 10px 15px; border-radius: 10px; cursor: pointer}
    .task-card-options-mobile > i:hover, .task-card-options-mobile >i:active {background: #eaeaea};
    .task-card-info-mobile {display: block;}
    .task-card > .task-card-controls-right, .task-card-center { display: none !important; }
  }

  @media screen and (max-width: 500px){
    .lists {width: 100%}
    .lists .box {width: 100%; margin-right: 0px !important; }
    html, body {font-size: 11px;}
  }