<template id="task-options-modal-content">
  <form id="task-options-form" method="PUT" action="">
    <div class="form-item">
      <label for="assigned_to">Zugewiesen an: </label>
      <select id="task-assigner-modal" name="assigned_to">
        <option value="null"> Alle</option>
          <% for(let j = 0; j < users.length; j++) { %>
            <option value="<%= users[j]._id %>"> <%= users[j].name %></option>
          <% } %>        
      </select>
    </div>

    <input type="hidden" value="" name="task-id" id="task-id-modal">

    <div class="form-item">
      <label for="due_date">Erledigen bis:</label>
      <input type="date" value="" name="due_date" id="task-due-date-modal">
    </div>

    <div class="flex flex-between">
      <button id="close-modal" formmethod="dialog">Abbrechen</button>
      <button class="error" id="delete-task-modal"><i class="fa fa-trash"></i> Löschen</button>
      <button class="primary" id="submit-form">Speichern</button>
    </div>
  </form>
</template>