<template id="list-members-modal-content">
  <input type="hidden" value="<%- list._id %>" id="listId">
  <ul id="list-members">
    <% for(let i = 0; i < members.length; i++) { %>
      <li class="flex flex-between vertical-center">
        <p><%-members[i].name %> <%- members[i]._id.toString() === list.owner._id.toString() ? '<i class="fa fa-star text-primary"></i>' : '' %></p>
        <% if((currentUser._id.toString() === list.owner._id.toString()) && currentUser._id.toString() != members[i]._id.toString()) { %>
          <button class="secondary remove-member" data-memberid="<%- members[i]._id %>"><i class="fa fa-remove"></i></button>
        <% } %>
      </li>
    <% } %>
  </ul>

  <button class="secondary close-modal">Schließen</button>
</template>