<template id="invite-user-template">
  <p> Schicke diesen Link an jemanden den du zu dieser Liste einladen möchtest: <span class="text-primary">Bitte beachte dass der generierte Link nur 1 Stunde gültig ist. </span></p>
  <div class="form-item">
    <input type="text" class="input" value="" placeholder="Auf 'Einladung erstellen' klicken" readonly>
  </div>
  
  <div class="flex flex-between">
    <button class="secondary close-modal">Schließen</button>
    <button class="primary" id="request-invite-code" data-list="<%- list._id %>">Einladung erstellen</button>
  </div>
</template>
