<div class="container">
  <h1 class="page-title">Benutzer einrichten</h1>
  <h2 class="py-1">Wilkommen, gib unten bitte deine Daten ein um Zugriff zu erhalten.</h2>
  <p>Bitte gehe dabei folgendermaßen vor:</p>
  <ul class="py-2 p-1">
    <li>Benutzername: Bitte gib hier den Benutzernamen an um dich zu identifizieren. Den Benutzernamen hast du von einem Admin erhalten</li>
    <li>Anzeigenname: Hier kannst du einen Namen angeben der Mitglieder einer Liste angezeigt werden soll.</li>
    <li>Passwort: Vergib hier dein Passwort. Es sollte mindestens 8 Zeichen lang sein. Anschließend bestätige deine Eingabe indem du das Passwort erneut eingibst.</li>
  </ul>

  <%- include('../partials/messages.ejs') %>

  <form class="userInitForm" action="/user/init/<%- initCode -%>" method="POST">
    <div class="pb-1">
      <label for="username" class="text-primary">Benutzername</label>
      <input name="username" type="text" value="" placeholder="Benutzername der dir vom Admin gegeben wurde">
    </div>

    <div class="pb-1">
      <label for="name" class="text-primary">Anzeigenname</label>
      <input name="name" type="text" value="" placeholder="Setze hier einen Namen der anderen Nutzern angezeigt werden soll">
    </div>

    <div class="pb-1">
      <label for="password" class="text-primary">Passwort</label>
      <input name="password" type="password" value="">
    </div>

    <div class="pb-1">
      <label for="confirm_password" class="text-primary">Passwort wiederholen</label>
      <input name="confirm_password" type="password" value="" placeholder="">
    </div>

    <button type="submit" class="primary mb-1">Speichern</button>
  </form> 
</div>
